<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{professional/loginLayout}">
    <head>
        <title>[[#{registration.register.headline}]]</title>
    </head>

    <div layout:fragment="content">
        <div th:replace="~{fragments/forms::globalErrors('registrationRequest')}" />


        <div class="text-center mb-4">
            <a href="." class="navbar-brand navbar-brand-autodark">
                <img th:src="@{/images/logo.png}" th:alt="#{app.title}" width="110" height="32" class="navbar-brand-image">

            </a>
        </div>





        <form class="card card-md" th:action="${requestUri}" method="post" autocomplete="off" novalidate>



            <div class="card-body">
                <h2 class="card-title text-center mb-4">Create new account</h2>
                <div class="mb-3">
                    <div th:replace="~{fragments/forms::inputRow(object='registrationRequest', field='name', required=true)}" />

                </div>
                <div class="mb-3">
                    <div th:replace="~{fragments/forms::inputRow(object='registrationRequest', field='email', required=true)}" />

                </div>
                <div class="mb-3">
                    <div th:replace="~{fragments/forms::inputRow(object='registrationRequest', field='password', required=true, type='password')}" />

                </div>
                <div class="mb-3">
                    <div th:replace="~{fragments/forms::inputRow(object='registrationRequest', field='organisation', required=true)}" />

                </div>
                <div class="mb-3">
                    <div th:replace="~{fragments/forms::inputRow(object='registrationRequest', field='refer')}" />

                </div>

                <div class="mb-3">





                </div>

                <div class="mb-3">
                    <div th:replace="~{fragments/forms::inputRow(object='registrationRequest', field='plan', required=true, type='select')}" />

                </div>

                <div class="mb-3">
                    <div th:replace="~{fragments/forms::inputRow(object='registrationRequest', field='country', required=true, type='select')}" />

                </div>
                    <div class="mb-3">
                        
                         <div th:replace="~{fragments/forms::inputRow(object='registrationRequest', field='terms', type='checkbox')}" />
                    <div class="text-center text-secondary mt-3">
                        <a th:href="@{/professional/terms}" tabindex="-1" target="_blank">Terms and Conditions</a>

                    </div>
                        </div>
                <div class="form-footer">

                   


                    <button type="submit" th:text="#{registration.register.headline}" class="btn btn-primary w-100"></button>
                </div>
            </div>
        </form>
        <div class="text-center text-secondary mt-3">

            Already have account? <a th:href="@{/professional/login}" tabindex="-1">Sign in</a>
        </div>



    </div>

</html>
