<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{document.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{document.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/documents}" class="btn btn-secondary">[[#{document.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('document')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='document', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='document', field='content', required=true, type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='document', field='embedding', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='document', field='filename', required=true, type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='document', field='sessionId', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='document', field='user', required=true, type='select')}" />
                <input type="submit" th:value="#{document.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
