<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{assistantLayout}">
    <head>
        <title>Cycle</title>


        <script th:src="@{/js/assistant.js}" defer></script>

        <style>

            body {
                font-feature-settings: "cv03", "cv04", "cv11";
            }

            .chat-item {
                margin-bottom: 1rem; /* Add margin to separate chat items */
            }
            .chat-bubble-body {
                overflow: hidden; /* Clear floats */
            }

            .chat-buttons {
                display: flex;
                flex-wrap: wrap;
                gap: 10px; /* Space between buttons */
                justify-content: flex-start;
                margin-top: 10px; /* Add some space between text and buttons */
            }

            .chat-buttons .btn {
                flex: 1 0 calc(50% - 10px); /* 50% width minus the gap */
                text-align: center;
            }
        </style>
    </head>


    <body>
        <div layout:fragment="content">


            <div class="container-xl">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-12 col-lg-5 col-xl-3 border-end">



                            <div class="card-header d-none d-md-block">
                                <div class="input-icon">


                                    <button class="btn" id="toggleButton">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                                        <path d="M9 12h6" />
                                        <path d="M12 9v6" />
                                        </svg>
                                        Contact me
                                    </button>


                                </div>

                            </div>



                        </div>

                        <div class="col-4 border p-3" id="column2" style="display: none;">
                            
                            <form th:action="@{/assistant}" th:object="${contact}" method="post" novalidate="">
                                <div class="mb-3">
                                    <label for="email" class="form-label" th:text="#{contact.email.label}" ></label>
                                    <input type="text" th:field="*{email}" id="email" class="form-control small" th:errorclass="fieldError" />
                                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></div>
                                </div>



                                <div class="mb-3"  >
                                    <label for="subject" th:text="#{contact.subject.label}"></label>
                                    <select class="form-control" id="subject" name="subject" required>
                                        <option th:each="subjectOption : ${T(tech.intellibio.augi4.contact.Subject).values()}"
                                                th:value="${subjectOption.name()}"
                                                th:text="${subjectOption.getText()}"
                                                th:selected="${contact.subject == subjectOption}">
                                        </option>
                                    </select>
                                    <div th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}" class="text-danger"></div>
                                </div>

                                <div class="mb-3">
                                    <label for="summary" class="form-label" th:text="#{contact.summary.label}" ></label>
                                    <input type="text" th:field="*{summary}" id="summary" class="form-control small" th:errorclass="fieldError" />
                                    <div th:if="${#fields.hasErrors('summary')}" th:errors="*{summary}" class="text-danger"/>
                                </div>
                            

                           <button type="submit" class="btn btn-primary">Submit</button>



                            </form>

                        </div>
                        <!--                                Assitant">-->



                        <div class="col-8" id="column3">

                            <div class="card-body scrollable" style="height: 35rem">
                                <div class="chat">
                                    <div class="chat-bubbles" id="chat-container">


                                        <div class="chat-item">
                                            <div class="row align-items-end">
                                                <div class="col col-lg-12">
                                                    <div class="chat-bubble chat-bubble-me">
                                                        <div class="chat-bubble-title">
                                                            <div class="row">
                                                                <div class="col chat-bubble-author" th:text="${name}"/>

                                                            </div>
                                                        </div>
                                                        <div class="chat-bubble-body">
                                                            <p id="chat-message" style="white-space: pre-wrap;">Hello, How can I assist you? </p>



                                                            <div class="chat-buttons" th:if="${prompts != null and !#lists.isEmpty(prompts)}">

                                                                <button  th:each="prompt : ${prompts}" class="btn prompt-btn" th:text="${prompt}"></button>

                                                            </div>



                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="input-group input-group-flat">
                                    <input type="text" class="form-control" id="message-input"  autocomplete="off" placeholder="Type message" />
                                    <input type="hidden"  class="form-control" id="sessionInput" name="sessionInput" th:value="${currentSessionId}"/>

                                    <span class="input-group-text">
                                        <a href="#" class="link-secondary" data-bs-toggle="tooltip" aria-label="Clear search" title="Clear search"> <!-- Download SVG icon from http://tabler-icons.io/i/mood-smile -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M9 10l.01 0" /><path d="M15 10l.01 0" /><path d="M9.5 15a3.5 3.5 0 0 0 5 0" /></svg>
                                        </a>
                                        <a href="#" class="link-secondary ms-2" data-bs-toggle="tooltip" aria-label="Add notification" title="Add notification"> <!-- Download SVG icon from http://tabler-icons.io/i/paperclip -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5" /></svg>
                                        </a>
                                    </span>
                                    <button id="submit-btn" class="btn"  type="button">Submit</button>
                                </div>

                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>

    </div>






</body>
</html>
