<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{professional/layout}">
 
  

    <head>
        <title>[[#{professional.grants.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{professional.grants.headline}]]</h1>
              
            </div>
            <div th:replace="~{fragments/forms::globalErrors('project')}" />
            <form th:action="${requestUri}" method="post">
                
                <div th:replace="~{fragments/forms::inputRow(object='project', field='goal', required=true, type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='project', field='name', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='project', field='organisationName', required=true, type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='project', field='summary', required=true, type='textarea')}" />
              

             
                <div th:replace="~{fragments/forms::inputRow(object='project', field='progam', type='select')}" />
                <input type="submit" th:value="#{project.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
                
    </body>
</html>
