<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{professional/layout}">



    <head>
        <title>[[#{professional.grants.headline}]]</title>
    </head>

    <div layout:fragment="content">

        <div class="page page-center">
            <div class="container container-tight py-4">

                <div class="d-flex flex-wrap mb-4">
                    <h1 class="flex-grow-1">[[#{professional.grants.headline}]]</h1>

                </div>
                <div th:replace="~{fragments/forms::globalErrors('project')}" />
                <form th:action="${requestUri}" method="post">

                    <div class="card-body"> 

                        <div class="mb-3"  >
                            <div th:replace="~{fragments/forms::inputRow(object='project', field='progam', type='select')}" />

                        </div>
                            
                             <div class="mb-3"  >
                            
                            <div th:replace="~{fragments/forms::inputRow(object='project', field='goal', required=true, type='textarea')}" />
                            
                             </div>
                            <div th:replace="~{fragments/forms::inputRow(object='project', field='name', required=true)}" />
                            <div th:replace="~{fragments/forms::inputRow(object='project', field='organisationName', required=true, type='textarea')}" />
                            <div th:replace="~{fragments/forms::inputRow(object='project', field='summary', required=true, type='textarea')}" />





                            <div class="form-footer">




                                <button type="submit" th:text="#{project.add.headline}" class="btn btn-primary w-100"></button>
                            </div>
                        </div>
                </form>
            </div>
        </div>          
    </div>
</html>
